.top-buffer {
	margin-top: 20px;
}
h7 {
	font-weight: bold;
	color: #ffffff;
}
.h8 {
	display: block;
	font-weight: bold;
	color: #ffffff;
}

.title {
	left: -50%;
	display: block;
	position: relative;
}
.ci {
	display: block;
	position: relative;
}

/* Mobile Device */
.h8 {
	font-size: 80%;
}
.title {
	width: 150px;
	padding-top: 11px;
}
.bar {
	height: 54px;
	width: 100%;
}
.ci {
	padding-top: 16px;
	width: 22px;
}
.os {
	padding-top: 60px;
	width: 180px;
}
.btn_back {
	padding-top: 3px;
	width: 60px;
}

.icon {
	width: 100px;
}
.icon2 {
	width: 90%;
}
.btn_down {
	width: 80%;
}
.padding_i {
	top: 70px;
	width: 280px;
}
.padding_v {
	top: 70px;
	width: 300px;
}

.app_content {
	width: 300px;
}

.store_icon {
	width: 14px;
}
/* Tablet & Desktop Device */
@media (min-width: 768px) {
	h7 {
		font-size: 150%;
	}
	.h8 {
		font-size: 130%;
	}
	.title {
		padding-top: 13px;
		width: 380px;
	}
	.bar {
		height: 108px;
	}
	.ci {
		padding-top: 30px;
		width: 48px;
	}
	.os {
		padding-top: 120px;
		width: 315px;
	}
	.btn_back {
		padding-top: 12px;
		width: 100px;
	}
	.icon {
		width: 150px;
	}
	.icon2 {
		width: 200px;
	}
	.padding_v {
		width: 700px;
		top: 150px;
	}
	.padding_i {
		width: 700px;
		top: 150px;
	}
	.btn_down {
		width: 60%;
	}
	.app_content {
		width: 700px;
	}
	.store_icon {
		width: 24px;
	}
}
@media (min-width: 992px) {
	.padding_v {
		width: 894px;
		top: 150px;
	}
	.app_content {
		width: 894px;
	}
	.padding_i {
		width: 894px;
		top: 150px;
	}
	.store_icon {
		width: 24px;
	}
}
